<html>
<head>
<title> Doran's Trophy Case </title>
{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="{% static "js/jquery-2.2.3.min.js" %}"></script>
<script src="{% static "js/jquery-ui-1.11.4/jquery-ui.min.js" %}"></script>
<script src="{% static "js/coverflow-master/jquery.coverflow.js" %}"></script>
<script src="{% static "js/coverflow-master/reflection.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "js/jquery-ui-1.11.4/jquery-ui.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js"></script>
</head>

<body>
<h1>Doran's Trophy Case</h1>
{% block content %}

{% endblock %}
</body>

</html>